<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="Environment" value="Production" />
    <add key="FeatureToggle.NewCheckout" value="true" />
  </appSettings>
  <connectionStrings>
    <add name="Main" connectionString="Server=db01;Database=app;User Id=svc;Password=x" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <system.web>
    <compilation debug="false" targetFramework="4.8" />
  </system.web>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true" />
  </system.webServer>
</configuration>
