<appSettings>
  <add key="PaymentEndpoint" note="x" value="https://pay.example.com/api" />
  <add key="ToggleSearch" value="on" /> <add key="flag-two" value="off" />
  <feature id="a" value="1" /><feature id="b" enabled="yes" />
  connectionString = "Data Source=a.corp.local"  ConnectionString='Data Source=b.corp.local'
  endpoint="   "
</appSettings>
