
    <?xml version="1.0" encoding="utf-8"?>
    <configuration>
      <connectionStrings>
        <add name="DefaultConnection" connectionString="Server=.;Database=App;User Id=app;Password=Pass123!;" />
      </connectionStrings>
      <appSettings>
        <add key="ServiceEndpoint" value="https://api.example.com/v1/" />
        <add key="FeatureFlag:NewUI" value="true" />
      </appSettings>
      <system.serviceModel>
        <client>
          <endpoint address="net.tcp://services.example.com:8443/Feed" />
        </client>
      </system.serviceModel>
    </configuration>
    