<configuration>
  <add Name="a" name="b" connectionString="x" />
  <feature name="" value="on" />
  <feature name="" key="k" value="on" />
  <Toggle id="i" enabled="" isEnabled="yes" />
  <add key="ApiUrl" value="  https://x/  " />
  <add key="Callback" value="\\srv\share" />
  <add key="address" value="sb://q" />
  <x endpoint="NET.TCP://a" url="\\b" uri="c://d" baseAddress="e" serviceUrl="f://" />
</configuration>
