
    <configuration>
      <connectionStrings>
        <add name="Default" connectionString="Server=tcp://sql" />
        <add name="Default" connectionString="Server=tcp://sql" />
      </connectionStrings>
      <serviceEndpoints>
        <endpoint name="FileShare" address="\\server\share" />
      </serviceEndpoints>
      <features>
        <feature name="NewUI" value="true" />
        <feature name="NewUI" value="true" />
      </features>
    </configuration>
    